:root {
    --mainBrown: #2d1e1f;
    --mainYellow: rgb(255, 158, 9);
    --mainGrey: #ece8dc;
    --mainWhite: #fffefc;
    --mainDark: #222020;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Courier New", Courier, monospace !important;
    letter-spacing: 0.25rem !important;
  }


.navbar-brand{
    opacity: 1.0;
}
.navbar-brand:hover{
    opacity: 0.3;
}
.navbar{
    padding: auto;
    margin: 3px;
}

.img{
    border-radius: 50%;
}

.container ul{
    list-style-type: none;
}

.container ul li{
    display:inline;
    padding: 1%;
}

.default-background,
.about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5)); */
  background-position: center;
  opacity: 1 !important;
  background-size: cover;
  background-attachment: fixed;
}

.btn-yellow {
    color: var(--mainYellow) !important;
    border-color: var(--mainYellow) !important;
  }
  
  .btn-yellow:hover {
    background: var(--mainYellow) !important;
    color: var(--mainBrown) !important;
  }
  
.footer {
    background: var(--mainDark);
}

.about-background {
  min-height: 60vh;
  
}

.menu,
.contact {
  background: var(--mainGrey);
}

.title {
  text-transform: capitalize;
  font-weight: 400;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
